@model Jugnoon.Forums.Models.ForumListViewModel
@inject IStringLocalizer<GeneralResource> GeneralResource
@{
    // activate header tab
    ViewBag.ForumTabCss = "active";
    // setup search with forum topics
    ViewBag.SearchType = 5;
}
<partial name="~/Views/Shared/_BreadCrumb.cshtml" model="new BreadViewModel() { BreadItems = Model.BreadItems }" />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <partial name="~/Views/themes/default/forums/partials/_ForumList.cshtml" />
            <div class="m-t-10">
                @await Html.PartialAsync("~/Views/partials/ads/ad_728.cshtml", new AdsModelView() { isAdult = false })
            </div>
        </div>
    </div>
  
</div>


