@inject Jugnoon.Framework.ApplicationDbContext _context
@inject Microsoft.Extensions.Options.IOptions<Jugnoon.Settings.Features> featureSettings
@inject Microsoft.Extensions.Options.IOptions<Jugnoon.Settings.Registration> registrationSettings
@model Jugnoon.Forums.Models.ForumTopicsListViewModel
@using Jugnoon.Forums;
@using Jugnoon.Forums.Models;
@*
    Generate List of Topics (Only Links) based on Query => ForumTopicEntity (Params)
*@
@if (featureSettings.Value.enable_forums)
{
    <!-- Contents Section Started -->
    var _list = await ForumTopicBLL.LoadItems(_context, Model.QueryOptions);
    if (_list.Count > 0)
    {
        var PartialPath = "~/Views/forum/partials";
        var listObject = new ListItems()
        {
            ListType = ListType.Links
        };
    <div class="m-b-5 vertical-menu-light">
        <ul>
            @foreach (var Item in _list)
            {

                <li class="m-b-5 truncate">
                    @await Html.PartialAsync(PartialPath + "/item/Item.cshtml", new ForumItemViewModel()
                    {
                       Data = Item,
                       ListObject = Model.ListObject,
                       AuthorUrl = UserUrlConfig.ProfileUrl(Item.author, registrationSettings.Value.uniqueFieldOption),
                       ProfileUrl = Forum_Urls.Prepare_Topic_Url(Item.id, Item.title, false)
                    });
                </li>
            }

        </ul>
            @if (Model.BrowseText != "" && _list.Count >= Model.QueryOptions.pagesize)
            {                
                <p class="m-b-10"><a class="m-b-5 text-right" href="@Model.BrowseUrl">@Model.BrowseText</a></p>
            }
        
    </div>
    }
}
