@inject IStringLocalizer<GeneralResource> GeneralResource
@inject IStringLocalizer<ForumResource> ForumResource
<div class="row" style="min-height:500px;">
    <div class="col-md-9">

        <div class="m-b-10">

            @await Html.PartialAsync("~/views/forum/partials/_List_SM.cshtml", new Jugnoon.Forums.Models.ForumTopicsListViewModel()
            {
                  BrowseText = GeneralResource["_see_all"].Value,
                  HeadingTitle = ForumResource["_recent_topics"].Value,
                  NoRecordFoundText = ForumResource["_no_topics"].Value,
                  ListObject = new Jugnoon.Scripts.ListItems()
                  {
                      showUser = false,
                      showViews = true,
                      showDate = true,
                      ColWidth = "col-md-3 col-xs-6",
                      isHover = false
                  },
                  BrowseUrl = Config.GetUrl("videos/"),
                  QueryOptions = new Jugnoon.Forums.ForumTopicEntity()
                  {
                      order = "topic.created_at desc",
                      ispublic = true,
                      iscache = true,
                      isfeatured = FeaturedTypes.All,
                      pagesize = 20,
                  }
              })

        </div>

    </div>
    <div class="col-md-3">
        @await Html.PartialAsync("~/Views/home/partials/_Nav.cshtml", new Jugnoon.Models.MainNavViewModel()
        {
           hideAds = false,
           hideSearch = true,
           hideArchives = false,
           hideCategories = false
        })
    </div>
</div>